<!-- View complaint -->
<%- include('partials/header') %>

<div style="padding:4%; padding-top: 0%; font-family:sans-serif; font-size:14px;">
  <div class="page-heading">
    <span>Helpdesk</span>
  </div>
  <div class="container container-profile">
    <row>
      <col-4>
        <a href="/complaint" class="btn btn-pastel-warning btn-modern text-center d-block mx-auto" style="max-width: 200px; border-radius: 2rem;">
          <i class="fas fa-exclamation-triangle me-2"></i>RAISE COMPLAINT
        </a>
      </col-4>
    </row>
    <div class="row">
      <div class="col">
        <div class="card card-profile my-5">
          <div class="card-body" style="padding:8% 8% 3%;">
            <div>
            <% complaints.reverse().forEach((complaint, index) => { %>
              <i class="fas fa-plus-circle"></i> <b><%= complaint.category %></b>
              <p style="padding-left: 20px; color: grey;"><%= complaint.date %> - <%= complaint.type %></p>
              <p style="padding-left: 20px"><%= complaint.description %></p>
              <% if(complaint.status==='open'){ %>
                <p style="padding-left: 20px; border-radius:3rem; background-color: lightgreen; max-width: 75px">Open</p>
              <% } else if(complaint.status==='close') { %>
                <p style="padding-left: 20px; border-radius:3rem; background-color: lightcoral; max-width: 90px;">Closed</p>
              <% } %>
              <% if(complaints[index+1]){ %>
                <hr class="my-4">
              <% } %>
            <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<%- include('partials/footer') %>